@propertycaptain:registry=https://ascarix.pkgs.visualstudio.com/_packaging/Ascarix_Planing/npm/registry/
@ascarix:registry=https://ascarix.pkgs.visualstudio.com/_packaging/Ascarix_Planing/npm/registry/
always-auth=true
engine-strict=true
